.header {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.0rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  background-color: orange;
  padding: 7px;
  border-radius: 8px
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.navLinks a:hover {
  color: orange;
}

.hamburgerBtn {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburgerBtn .bar {
  width: 2rem;
  height: 0.25rem;
  background-color: #333;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.mobileMenu {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .hamburgerBtn {
    display: flex;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #eaeaea;
  }

  .mobileMenu a {
    padding: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
  }
    
  .mobileMenu a:hover {
    background-color: #f0f0f0;
  }
}